<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <form action="/user/add" method="POST">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="user_name" placeholder="Enter Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Surname: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="user_surname" placeholder="Enter Surname" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email: </label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" name="user_email" placeholder="Enter E-mail" required>
                </div>
            </div>
            <button class="btn btn-success">Add user</button>
        </form>
        <div>
            <form action="/users">
                <button style="cursor: pointer;width: 100px; height: 30px; border: 1px solid green; border-radius: 5px;">Go Home</button>
            </form>
        </div>
    </div>

</body>

</html>