<html>

<head>
    <title>Students</title>

</head>

<body>
    <div class="container-fluid">
        <form action="/user/add" method="POST">
            <div class="form-group row">
                <label>Name: </label>
                <div >
                    <input type="text" class="form-control" name="user_name" placeholder="Enter Name" required>
                </div>
            </div>
            <div >
                <label >Surname: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="user_surname" placeholder="Enter Surname" required>
                </div>
            </div>
            <div >
                <label >Email: </label>
                <div >
                    <input type="email" class="form-control" name="user_email" placeholder="Enter E-mail" required>
                </div>
            </div>
            <button >Add user</button>
        </form>
        <div>
            <form action="/users">
                <button style="cursor: pointer">Go Home</button>
            </form>
        </div>
    </div>

</body>

</html>
