<html>

<head>
    <title>Students edit</title>
</head>

<body>
    <form action="/user/edit/<%= edit[0].id %>" method="POST">
        <input type="text" name="update_name" value="<%= edit[0].username %>">
        <input type="text" name="update_surname" value="<%= edit[0].surname %>">
        <input type="text" name="update_email" value="<%= edit[0].email %>">
        <button>Update</button>
    </form>
    <div>
        <form action="/users">
            <button>Go Home</button>
        </form>
    </div>
</body>

</html>
